@use "abstracts/colours" as *;
@use "abstracts/mixins" as *;
@use "abstracts/colourMatch";
@use "layout/header";
@use "pages/chroma";

* {
  background: transparent;
  border: 0;
  margin: 0;
  outline: 0;
  overflow: hidden;
  padding: 0;
  vertical-align: baseline;
}

#App {
  background-color: $background;
  color: $darkMain;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  height: 100dvh;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  width: 100vw;
}

.description {
  li {
    margin-bottom: 14px;
  }
}

main {
  padding: 10px;

  h1 {
    font-size: 1.4em;
  }

  h2 {
    font-size: 1.2em;
    margin-top: 10px;
    text-align: left;
  }

  p {
    font-size: 0.8em;
  }
}
