@use "../abstracts/colours" as *;

.picture-info {
  display: grid;
  grid-template-columns: 520px 1fr;
  grid-template-rows: 1fr;

    .picture { grid-area: 1 / 1 / 2 / 2; }

    .info { 
        grid-area: 1 / 2 / 2 / 3; 
        margin-top: 25px;
    }
}
